.aboutContainer {
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 2px;
    border-color: rgba(207, 204, 204, 0.267);
    margin: 2rem 0;
    padding: 5rem 0;
    

}
.aboutContainer h1,
.aboutContainer h2{
    width: 80%;
    margin: auto;
    font-weight: 400;
    padding: 1rem 2rem;
    transition: .5s ease;
}
.aboutContainer h1 {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    text-transform: uppercase;
}
.aboutContainer h2 {
    color: rgba(0, 0, 0, 0.678);
    font-size: 2rem;
}
