.vContainer {
    text-align: center;
    border-bottom: solid 2px;
    border-color: rgba(207, 204, 204, 0.267);
    padding-bottom: 6rem;
    
}


.vContainer h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.637);
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    padding: 2rem 2rem;
    transition: .5s ease;
}
.videoContainer {
    width: 50%;
    margin: auto;
}
.videoContainer img {
    width: 100%;

}

@media screen and (max-width: 1100px) {
    .videoContainer {
        width: 70%;
        
    }
  
  }